html, body{ 
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

#main{
    background-image: url('배경사진.jpg');
    background-repeat : no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}
