body, html { 
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

#main {
    background;
    background-image: url('배경사진.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
